# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unoth.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mishael\Documents\GitHub\Ancestral Dimensions\Unoth\.idea\.idea.Unoth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
